In [1]:
import pandas as pd

C:\Users\User\AppData\Local\Temp\ipykernel_14308\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df=pd.read_csv("heights (1).csv")
df.head()

    name  height
0  mohan     1.2
1  maria     2.3
2  sakib     4.9
3    tao     5.1
4  virat     5.2

In [5]:
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

In [8]:
q1=df.height.quantile(0.25)
q3=df.height.quantile(0.75)
IQR=q3-q1
IQR

0.9249999999999998

In [10]:
upper_limit=q3+1.5*IQR
lower_limit=q1-1.5*IQR
upper_limit,lower_limit

(7.6625, 3.962500000000001)

which data is actually outlier

In [12]:
df[(df.height>upper_limit)|(df.height<lower_limit)]

     name  height
0   mohan     1.2
1   maria     2.3
17  aamir    14.5
18    ken    23.2
19    Liu    40.2

New datasets by removing outlier using IQR

In [11]:
df2=df[(df.height<upper_limit)&(df.height>lower_limit)]
df2.describe()

         height
count  15.00000
mean    5.76000
std     0.56921
min     4.90000
25%     5.45000
50%     5.60000
75%     6.05000
max     7.10000