In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [81]:
df=pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [82]:
inputs=df.drop('salary_more_then_100k',axis='columns')
target=df['salary_more_then_100k']

Here we encode categorical variable to numerical variable

We use multiple encoder to handle multiple column

In [83]:
from sklearn.preprocessing import LabelEncoder

label_company=LabelEncoder()
label_job=LabelEncoder()
label_degree=LabelEncoder()

fit() method learn the mapping all categorical variable and assign a neumeric label

transform() method apply the mapping.basically transform method converts the categorical values into their numeric labels.

In [84]:
inputs['la_company']=label_company.fit_transform(inputs['company'])
inputs['label_job']=label_company.fit_transform(inputs['job'])
inputs['label_degree']=label_company.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  la_company  label_job  label_degree
0  google      sales executive  bachelors           2          2             0
1  google      sales executive    masters           2          2             1
2  google     business manager  bachelors           2          0             0
3  google     business manager    masters           2          0             1
4  google  computer programmer  bachelors           2          1             0

In [85]:
inputs_new=inputs.drop(['company','job','degree'],axis='columns')
inputs_new.head()

   la_company  label_job  label_degree
0           2          2             0
1           2          2             1
2           2          0             0
3           2          0             1
4           2          1             0

In [86]:
#from sklearn.model_selection import train_test_split
#x_train,x_test,y_train,y_test=train_test_split(inputs_new,target,train_size=0.8)

In [90]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(inputs_new,target)
model.score(inputs_new,target)

1.0